.lumi-icon {
  --lumi-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--lumi-icon-color);
  font-size: inherit;
}

@each $val in primary, success, info, warning, danger {
  .lumi-icon--#{$val} {
    // 覆盖.lumi-icon的color
    --lumi-icon-color: var(--lumi-color-#{$val});
  }
}
